<html class="pixel-ratio-3 retina ios ios-11 ios-11-0 ios-gt-10 ios-gt-9 ios-gt-8 ios-gt-7 ios-gt-6">
<head>
<title>今日推单</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<#include "/common/common_head.html">
</head>
<body data-7m="7m_warp">
	<div id="app">
		<!---->
		<div data-v-3688729f="" id="msg-detail" class="content">
			<div data-v-3688729f="" class="detail-header">
				<span data-v-3688729f="" onclick="javascript:history.go(-1);"><i data-v-3688729f="" class="fa fa-chevron-left fa-fw"></i></span> 通知公告
			</div>
			<div data-v-ecaca2b0="" data-v-3688729f="" id="outer-1w9t6" class="_v-container" style="width: 100%; height: 100%;">
				<div data-v-ecaca2b0="" id="inner-ciddx" class="_v-content" style="transform: translate3d(0px, 0px, 0px) scale(1);">
					<div data-v-ecaca2b0="" class="pull-to-refresh-layer">
						<span data-v-ecaca2b0="" class="spinner-holder"><svg data-v-ecaca2b0="" viewBox="0 0 63.657 63.657" xml:space="preserve" width="512px" height="512px" class="arrow">
								<g>
								<g>
								<g>
								<g>
								<polygon points="31.891,63.657 0.012,35.835 2.642,32.821 31.886,58.343 61.009,32.824 63.645,35.832" fill="#AAA"></polygon></g></g> <g>
								<g>
								<rect x="29.827" width="4" height="60" fill="#AAA"></rect></g></g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g></svg>
							<span data-v-ecaca2b0="" class="text" style="color: rgb(170, 170, 170);">下拉刷新</span> <!----></span>
					</div>
					<div data-v-3688729f="" data-v-ecaca2b0="" class="weui-panel weui-panel_access">
						<div data-v-3688729f="" data-v-ecaca2b0="" class="weui-panel__bd">
							<a data-v-3688729f="" href="/notice/detail" class="weui-media-box weui-media-box_appmsg" data-v-ecaca2b0="">
								<div data-v-3688729f="" class="weui-media-box__bd">
									<h4 data-v-3688729f="" class="weui-media-box__title">一大波订单来袭</h4>
									<p data-v-3688729f="" class="weui-media-box__desc">今日有大量客户需要资金周转，来到我平台。</p>
									<p data-v-3688729f="" class="weui-media-box__foot">2018/9/18 下午8:23:05</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<#include "/common/common_bottom.html">	
</body>
</html>