<html class="pixel-ratio-3 retina ios ios-11 ios-11-0 ios-gt-10 ios-gt-9 ios-gt-8 ios-gt-7 ios-gt-6">
<head>
<title>今日推单</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<#include "/common/common_head.html">
</head>
<body data-7m="7m_warp">
	<div id="app">
		<!---->
		<div data-v-80f281aa="" id="sug-detail" class="content">
			<div data-v-80f281aa="" class="detail-header">
				<span data-v-80f281aa="" class="back" onclick="javascript:history.go(-1);"><i data-v-80f281aa="" class="fa fa-chevron-left fa-fw"></i></span> 设置
			</div>
			<div data-v-80f281aa="" class="weui-cells">
				<div data-v-80f281aa="" class="weui-cell">
					<div data-v-80f281aa="" class="weui-cell__bd">
						<a data-v-80f281aa="" href="/login/out" class="weui-btn weui-btn_primary">退出登录</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<#include "/common/common_bottom.html">	
</body>
</html>