<div data-v-694fb233="" id="screen-detail" class="content">
	<div data-v-694fb233="" class="detail-header">
		<span data-v-694fb233="" class="back">
		<i data-v-694fb233="" class="fa fa-chevron-left fa-fw"></i></span> 自定义筛选 
		<span data-v-694fb233="" class="sub">完成</span>
	</div>
	<div data-v-694fb233="" class="weui-cells weui-cells_form">
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">工作类型</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="occupation" type="text" value=""
					readonly="" placeholder="不限" class="weui-input">
			</div>
		</div>
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">是否有车</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="car" type="text" value="" readonly=""
					placeholder="不限" class="weui-input">
			</div>
		</div>
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">是否有房</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="house" type="text" value=""
					readonly="" placeholder="不限" class="weui-input">
			</div>
		</div>
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">是否有保单</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="policy" type="text" value=""
					readonly="" placeholder="不限" class="weui-input">
			</div>
		</div>
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">是否使用过微粒贷</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="wxloan" type="text" value=""
					readonly="" placeholder="不限" class="weui-input">
			</div>
		</div>
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">信用状况</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="credit" type="text" value=""
					readonly="" placeholder="不限" class="weui-input">
			</div>
		</div>
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">公积金</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="fund" type="text" value="" readonly=""
					placeholder="不限" class="weui-input">
			</div>
		</div>
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">社会保障</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="socialSecurity" type="text" value=""
					readonly="" placeholder="不限" class="weui-input">
			</div>
		</div>
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">工资发放方式</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="salaryMethod" type="text" value=""
					readonly="" placeholder="不限" class="weui-input">
			</div>
		</div>
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">工作时间</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="workDuration" type="text" value=""
					readonly="" placeholder="不限" class="weui-input">
			</div>
		</div>
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">月收入</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="salary" type="text" value=""
					readonly="" placeholder="不限" class="weui-input">
			</div>
		</div>
		<div data-v-694fb233="" class="weui-cell">
			<div data-v-694fb233="" class="weui-cell__hd">
				<label data-v-694fb233="" for="name" class="weui-label">期望额度</label>
			</div>
			<div data-v-694fb233="" class="weui-cell__bd">
				<input data-v-694fb233="" id="expectAmountMin" type="number" value="" placeholder="最小额度" class="weui-input amount-input">元
				- 
				<input data-v-694fb233="" id="expectAmountMax" type="number" value="" placeholder="最大额度" class="weui-input amount-input">元
			</div>
		</div>
	</div>
</div>