<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>城市选择</title>

<link href="/static/zepto/css/style.css" rel="stylesheet" type="text/css">
</head>
<body style="">
	<div class="detail-header">
		<span class="cancel_span">取消</span>
		<div class="search-box">
			<i  class="weui-icon-search"></i>
		</div>
	</div>
	<!--显示点击的是哪一个字母-->
	<div id="showLetter" class="showLetter" style="transform-origin: 0px 0px 0px; opacity: 0; transform: scale(0, 0); display: none;">
		<span>P</span>
	</div>
	<!--城市索引查询-->
	<div class="letter">
		<ul>
			<li>
				<a href="javascript:;">★</a>
			</li>
			<li>
				<a href="javascript:;">A</a>
			</li>
			<li>
				<a href="javascript:;">B</a>
			</li>
			<li>
				<a href="javascript:;">C</a>
			</li>
			<li>
				<a href="javascript:;">D</a>
			</li>
			<li>
				<a href="javascript:;">E</a>
			</li>
			<li>
				<a href="javascript:;">F</a>
			</li>
			<li>
				<a href="javascript:;">G</a>
			</li>
			<li>
				<a href="javascript:;">H</a>
			</li>
			<li>
				<a href="javascript:;">J</a>
			</li>
			<li>
				<a href="javascript:;">K</a>
			</li>
			<li>
				<a href="javascript:;">L</a>
			</li>
			<li>
				<a href="javascript:;">M</a>
			</li>
			<li>
				<a href="javascript:;">N</a>
			</li>
			<li>
				<a href="javascript:;">P</a>
			</li>
			<li>
				<a href="javascript:;">Q</a>
			</li>
			<li>
				<a href="javascript:;">R</a>
			</li>
			<li>
				<a href="javascript:;">S</a>
			</li>
			<li>
				<a href="javascript:;">T</a>
			</li>
			<li>
				<a href="javascript:;">W</a>
			</li>
			<li>
				<a href="javascript:;">X</a>
			</li>
			<li>
				<a href="javascript:;">Y</a>
			</li>
			<li>
				<a href="javascript:;">Z</a>
			</li>
		</ul>
	</div>
	<!--城市列表-->
	<div class="container">
		<div class="city">
		</div>
	</div>
	<input type="hidden" id="type" value="${type}" />
	<input type="hidden" id = "status" value="${status!''}"/>
	<input type="hidden" id = "city" value = "${city!''}">
	<script type="text/javascript" src="/static/zepto/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/zepto/js/zepto.js"></script>
	<script type="text/javascript" src="/static/zepto/js/city.js"></script>
	<script type="text/javascript">
		$(function() {
			$(".cancel_span").click(function() {
				var str = "";
				if ($("#type").val() == 1) {
					str += "/home" + "?city=" + $("#city").val() + "&status=" + $("#status").val();
				} else {
					str += "/td" + "?city=" + $("#city").val();
				}
				window.location.href=str;
			});
		});	
	</script>
</body>
</html>