<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/admin/css/style.css">
    <link rel="stylesheet" href="/static/admin/css/paginate.css">
    <script type="text/javascript" src="/static/common/js/jquery.js"></script>    
    <script type="text/javascript" src="/static/admin/js/jquery.paginate.js"></script>    
    <script type="text/javascript" src="/static/admin/js/index.js"></script>    
</head>
<body>
	<input type="hidden" id = "user" value="${user!''}">
    <div class="box">
        <div class="box_top"> 
        	<label>欢迎 <a href = "javascript:;">${user!''}</a> 登录</label>&nbsp;&nbsp;&nbsp;&nbsp;
        	<a href="/admin/logout" class="admin-logout">退出</a>
        </div>
        <ul class="nav">
            <li data-type="user" class="nav_li flag">用户列表</li>
            <li data-type="product" class="nav_li">商品列表</li>
            <li data-type="recharge-log" class="nav_li">充值记录列表</li>
            <li data-type="requit" class="nav_li">申退列表</li>
        </ul>
        <div class="tab">
            <table border='1'>
            	<thead id="thead"></thead>
                <tbody id="tbody"></tbody> 
            </table>
        </div>
			<div class="page">
				<div id="pageTradeListDiv"></div>
			</div>        
    </div>
</body>
</html>