<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/admin/css/style.css">
    <link rel="stylesheet" href="/static/admin/css/paginate.css">
    <script type="text/javascript" src="/static/common/js/jquery.js"></script>    
    <script type="text/javascript" src="/static/admin/js/jquery.paginate.js"></script>    
    <script type="text/javascript" src="/static/admin/js/index.js"></script>    
    <script type="text/javascript" src="/static/admin/js/My97DatePicker/WdatePicker.js"></script>    
    <script type="text/javascript">
    	type = "product";
    </script>
</head>
<body>
    <div class="box">
        <div class="search">
			<form action="javascript:;" id="form">
	        	申请时间:<input type="text" autocomplete="off" id="applyTime" name="applyTimeStart" value="" placeholder="开始时间" onclick="WdatePicker()">
	        	-&nbsp;<input type="text" autocomplete="off" id="applyTime" name="applyTimeEnd" value="" placeholder="结束时间" onclick="WdatePicker()">&nbsp;&nbsp;
	        	数据来源:<input type="text" id="source" name="source" autocomplete="off" placeholder="数据来源">&nbsp;&nbsp;
	        	所在城市:<input type="text" id="city" name="city" autocomplete="off" placeholder="所在城市">&nbsp;&nbsp;
	        	状       态:
	        	<select id="status" name="status">
	        		<option value="">不限</option>
	        		<option value="0">未抢</option>
	        		<option value="1">已抢</option>
	        		<option value="2">精品订单</option>
	        		<option value="3">废弃订单</option>
	        	</select>&nbsp;&nbsp;&nbsp;&nbsp;
	        	<button id="submit">查询</button>	&nbsp;&nbsp;			
	        	<button id="reset">重置</button>
			</form>
        </div>
        <div class="tab">
            <table class="man_ztab" border='1'>
            	<thead id="thead"></thead>
                <tbody id="tbody"></tbody> 
            </table>
        </div>
		<div class="page">
			<div id="pageTradeListDiv"></div>
		</div>        
    </div>
    <script type="text/javascript">
    	$("#reset").click(function() {
    		$("#applyTime").val("");
    		$("#source").val("");
    		$("#status").val("");
    		$("#city").val("");    		
    	});
    </script>
</body>
</html>