<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangku.miaodan.core.dao.PaymentOrderMapper">
  <resultMap id="BaseResultMap" type="com.wangku.miaodan.core.model.PaymentOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="fail_reason" jdbcType="VARCHAR" property="failReason" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appid, mch_id, nonce_str, sign, number, trade_type, status, fail_reason, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payment_order_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from payment_order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wangku.miaodan.core.model.PaymentOrder">
    insert into payment_order_info (id, appid, mch_id, 
      nonce_str, sign, number, 
      trade_type, status, fail_reason, 
      add_time)
    values (#{id,jdbcType=BIGINT}, #{appid,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, 
      #{nonceStr,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, 
      #{tradeType,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{failReason,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wangku.miaodan.core.model.PaymentOrder">
    insert into payment_order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="mchId != null">
        mch_id,
      </if>
      <if test="nonceStr != null">
        nonce_str,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="tradeType != null">
        trade_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="failReason != null">
        fail_reason,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="failReason != null">
        #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangku.miaodan.core.model.PaymentOrder">
    update payment_order_info
    <set>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="failReason != null">
        fail_reason = #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangku.miaodan.core.model.PaymentOrder">
    update payment_order_info
    set appid = #{appid,jdbcType=VARCHAR},
      mch_id = #{mchId,jdbcType=VARCHAR},
      nonce_str = #{nonceStr,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      trade_type = #{tradeType,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      fail_reason = #{failReason,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>